@import "tailwindcss";

@font-face {
  font-family: 'NDOT';
  src: url('../fonts/Ndot77JPExtended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-custom {
  font-family: 'NDOT', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

