@import "tailwindcss";

@font-face {
  font-family: 'NDOT';
  src: url('../fonts/Ndot77JPExtended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-custom {
  font-family: 'NDOT', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

/* ---- Reset Styles ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- Particles.js Container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
 
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- Stats.js Styles ---- */


.js-count-particles {
  font-size: 1.1em;
}

